/* HTML stuff */
html, body {
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* Chat */
html, body, #chat {
    width: 100%;
    height: 100%;
}
#chat {
    padding: 10px;
    gap: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}
.message {
    margin-top: 7px;
    padding: 7px 10px;
    color: white;
    background: rgba(0, 0, 0, 0.65);
    box-shadow: rgba(0, 0, 0, 0.75) 5px 5px;
    border-radius: 6px;
    font-size: 1.5rem;
    line-height: 1.35;
    word-wrap: break-word;
}
/* Special messages */
.message:has(.text.success) {
    background-color: rgb(0, 129, 6);
    box-shadow: rgb(0, 85, 0) 5px 5px;
}
.message:has(.text.error) {
    background-color: rgb(161, 0, 0);
    box-shadow: rgb(104, 0, 0) 5px 5px;
}
/* Badges & emotes */
.badges {
    display: inline-flex;
    overflow: hidden;
    margin-right: 5px;
    gap: 1px;
}
.emote {
    height: 28px;
    width: auto;
    margin: 0 2px;
    vertical-align: bottom;
}
/* Showing & hiding messages */
.message.show {
    animation: show 0.65s ease-out;
}
@keyframes show {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.message.hide {
    animation: hide 0.65s ease-out forwards;
}
@keyframes hide {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(8px);
    }
}
/* Misc */
.rainbow-text {
    color: transparent;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    background-clip: text;
    -webkit-background-clip: text;
    animation: rainbow-animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
@keyframes rainbow-animation {
    0%, 100% {
        background-position: 0;
    }

    50% {
        background-position: 100% 0;
    }
}
